@import "tailwindcss";
@font-face {
  font-family:"Open Sans" ;
  src: url("/fonts/OpenSans.ttf") format("woff2");
  font-display: swap;
}
body {
  font-family: "Open Sans", system-ui, sans-serif;
}

.text-primary {
    color: #5e72e4 !important;
}